<h1>Listing codes</h1>

<%= paginate @codes %>
<p>
<table>
  <tr>
    <th>Block</th>
    <th>Code 3</th>
    <th>Code 6</th>
    <th>Code title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @codes.each do |code| %>
  <tr>
    <td><%= code.block_id %></td>
    <td><%= code.code_3 %></td>
    <td><%= code.code_6 %></td>
    <td><%= code.code_title %></td>
    <td><%= link_to 'Show', code %></td>
    <td><%= link_to 'Edit', edit_code_path(code) %></td>
    <td><%= link_to 'Destroy', code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code', new_code_path %>
